ludo/__pycache__
ludoaccueil/__pycache__
ludoaccueil/migrations/__pycache__/
ludogestion/__pycache__
ludogestion/migrations/__pycache__/
ludorecherche/__pycache__
ludorecherche/migrations/__pycache__/
