<nav class="ludorecherche">

    <button type="button" onclick="link.goTo(link.view.ludorecherche.index)">Derniers ajouts</button>
    <button type="button" onclick="link.goTo(link.view.ludorecherche.searchPage)">Recherche avancée</button>
    <button type="button" onclick="link.goTo(link.view.ludorecherche.listAll)">Tous les jeux</button>
    <button type="button" onclick="link.goTo(link.view.ludorecherche.lucky)">Tenter sa chance</button>

    <form id="search_bar" action="{% url 'ludorecherche:search' %}" method="get" accept-charset="utf-8">
        <label for="searchForm">Recherche</label>
        <input type="text" id="searchForm" class="form-control" name="query">
    </form>
</nav>